@using Microsoft.AspNetCore.Identity
@using CorePhotoGram.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-page="/Account/Manage/Index" title="Manage">Bonjour @UserManager.GetUserName(User) !</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link" background: #ffc107;color:#330653">Deconnexion</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-page="/Account/Login" class="btnjaune" style=" background: #ffc107;color:#330653">Connexion</a></li>
    </ul>


}
