@page
@model IndexModel
@{ ViewData["Title"] = "About"; }

<div class="row">

        <br /><br />
              <div class="centered">
                  <h1> A propos</h1>
                  <h2>Bilel BOUMNIJEL</h2>
                  <hr />
                  <h4>Azure Services</h4>

                  <ul class="list-group">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          App Service - Web App
                          <span class="badge badge-primary badge-pill">ok</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          Azure Monitoring - Application Insights
                          <span class="badge badge-primary badge-pill">ok</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          SQLDb
                          <span class="badge badge-primary badge-pill">ok</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          Storage
                          <span class="badge badge-primary badge-pill">ok</span>
                      </li>
                  </ul>


                  <br />

                  <h4>Technologies</h4>

                  <ul class="list-group">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          ASP.NET Core
                          <span class="badge badge-primary badge-pill">3.0</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          Visual Studio 2019
                          <span class="badge badge-primary badge-pill">16.3</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          Entity Framework
                          <span class="badge badge-primary badge-pill">ok</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          Azure
                          <span class="badge badge-primary badge-pill">ok</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          c#
                          <span class="badge badge-primary badge-pill">70%</span>
                      </li>

                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          CSS
                          <span class="badge badge-primary badge-pill">10%</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          HTML5
                          <span class="badge badge-primary badge-pill">15%</span>
                      </li>

                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          JavaScript
                          <span class="badge badge-primary badge-pill">5%</span>
                      </li>
                  </ul>
                  <h4>Liens Utiliser</h4>
                  <p><b>Bootstrap : </b> https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css </p>
                  <p><b>Jquery : </b> https://jquery.com/ </p>
                  <p><b>Ajax : </b> https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js </p>
                  <p><b>Github upload image For Gallery and Licence for user sollygit: </b> </p>


              </div>
     


   

    </div>
    @section Scripts{
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.7/jquery.lazy.min.js" integrity="sha256-sSF4G6GdnMRF5ZKZOLYGcPvU0BTvmPMFaQ6025ZB+Nk=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.7/plugins/jquery.lazy.ajax.min.js" integrity="sha256-uQvfHo7VKZFNpuEmueDtC1/4i21aJiaG38ubIskMSF0=" crossorigin="anonymous"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    }
