@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmation du mot de passe oublié";
}

<h2>@ViewData["Title"]</h2>
<p>
    Veuillez verifier votre courrier electronique pour reinitialiser votre mot de passe.
</p>
