@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Définir mot de passe";
    ViewData["ActivePage"] = "ChangePassword";
}

<h4>Définir votre mot de passe</h4>
@await Html.PartialAsync("_StatusMessage", Model.StatusMessage)
<p class="text-info">
    Vous n'avez pas de nom d'utilisateur / mot de passe local pour ce site. Ajouter un local
    compte afin que vous puissiez vous connecter sans connexion externe.
</p>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Définir  mot de passe</button>
        </form>
    </div>
</div>

@section Scripts {
    @await  Html.PartialAsync("_ValidationScriptsPartial")
}
